body {
	width: 530px;
}

.block {
	height: 50px;
	padding: 10px;
	margin: 10px;
	background-color: #f0f8ff;
	overflow: hidden;
	text-overflow:ellipsis;
	border-radius: 10px;
}

.block:hover {
	background-color: white;
	cursor: -webkit-grab;
}

.folder {
	background-image: url(../img/folder.gif);
	height: 50px;
	padding: 10px;
	margin: 10px;
	overflow: hidden;
	border-radius: 10px;
}

.folder:hover {
	background-image: url(../img/folderhover.gif);
	cursor: -webkit-grab;
}

.container {
	padding: 10px;
}

#edit {
	position: relative;
}

#folder {
	position: relative;
}
.top{
	z-index: 1050;
}