body {
	width: 530px;
}
.input-append{
	position: relative;
}
.input-append .typeahead.dropdown-menu{
overflow-x: hidden;
max-height: 200px;
max-width: 400px;
margin: 0px;
}
.input-append .add-on{
	vertical-align: top;
	margin-left: -5px;
}
.block {
	height: 50px;
	padding: 10px;
	margin: 10px;
	background-color: hsl(0, 0%, 92%);
	overflow: hidden;
	text-overflow:ellipsis;
	border-radius: 10px;
}

.block:hover {
	background-color: white;
	cursor: -webkit-grab;
}

#add_module,
#search_module{
	padding-left: 10px;
}

.addBookmark .icon-bookmark,
.addFolder .icon-plus-sign{
	vertical-align: middle;
}
.addBookmark:hover {
	cursor: pointer;
	color: hsl(0, 0%, 88%);
}

.addFolder:hover {
	cursor: pointer;
	color: hsl(0, 0%, 88%);
}

.folder {
	background-image: url(../img/folder.png);
	background-repeat: no-repeat;
        
	height: 50px;
	padding: 10px;
	margin: 10px;
	overflow: hidden;
}

.addFolder{
	height: 50px;
	padding: 10px;
	margin: 10px;
	overflow: hidden;
}

.folder:hover {
	opacity: 0.5;
	cursor: -webkit-grab;
}

.container {
	padding: 10px;
}

#edit {
	position: relative;
}

#folder {
	position: relative;
}

.top{
	z-index: 1050;
}

.clear{
	clear:both;
}

#dirPath p{
	display:block;
	padding: 8px 13px 0px 10px;
	text-shadow: none;

	color: #22262f;
	font-size: 10px;
}
#dirPath li{
	display:block;
	list-style: none;
	float: left;
	box-shadow: 0 0 0 2px #dee0e5 inset;
	border-radius: 4px;
	margin-right: 2px;
	width: 80px;
	height: 35px;
	text-overflow: ellipsis;
	overflow: hidden;
}
#dirPath li.active{
	cursor: pointer;
	box-shadow: 0 0 0 2px #dee0e5 inset;
	border-radius: 4px;

	background-color: hsl(0, 0%, 75%);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 88%), hsl(0, 0%, 75%));
}
#dirPath li.active:hover{
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 88%), hsl(0, 0%, 88%));
}
#dirPath li:hover{
	background-color: hsl(0, 0%, 75%);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 88%), hsl(0, 0%, 75%));
}
#dirPath li{
	cursor: pointer;
	text-align: center;
}
.row ul{
	margin: 0 0 -2px 11px;
}